body {
  font-family: Cascadia Code;
  display: flex;
  background: linear-gradient(90deg, rgb(88, 88, 88) 0%, rgb(65, 65, 65) 100%);
  color: white;
  margin: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 30px;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.176);
}

.grid-container1 {
  margin-top: 200px;
  display: grid;
  position: relative;
  height: 300px;
  width: 1450px;
  border: 1px solid grey;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.225);
}

.grid-container2 {
  background-color: rgb(46, 46, 46);
  display: grid;
  position: relative;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(32, 1fr);
  height: 300px;
  width: 1500px;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  overflow: hidden;
}

.grid-item {
  position: relative;
  animation-name: scrolling-bar;
  animation-duration: 1s;
  animation-timing-function: linear;
  justify-self: center;
  justify-items: center;
  background-color: rgb(0, 185, 0);
  justify-self: center;
  width: 90%;
  grid-row-start: 33;
  grid-row-end: 1;
}

@keyframes scrolling-bar {
  from {
    left: 50%;
  }
  to {
    left: -50%;
  }
}
