body {
  display: flex;
  background-color: rgb(35, 35, 35);
  color: white;
  margin: 0px;
  justify-content: center;
  align-items: center;
}

.grid-container {
  margin-top: 200px;
  display: grid;
  position: relative;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(32, 1fr);
  height: 300px;
  width: 1500px;
  border: 1px solid grey;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  overflow: hidden;
}

.grid-item {
  position: relative;
  animation-name: scrolling-bar;
  animation-duration: 1s;
  animation-timing-function: linear;
  justify-self: center;
  justify-items: center;
  background-color: green;
  justify-self: center;
  width: 90%;
  grid-row-start: 33;
  grid-row-end: 1;
}

@keyframes scrolling-bar {
  from {
    left: 50%;
  }
  to {
    left: -50%;
  }
}
